* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body,
html {
    background: #f1f1f1;
}

header {
    text-align: center;
    position: relative;
}

h1 {
    margin-top: 50px;
    font-size: 25px;
}

.btn-today,
.btn-mes,
.btn-semana,
.btn-dia,
.btn-lista {
    position: absolute;
    top: 65%;
    height: 32px;
    width: 40px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #a2adaf;
    border-radius: 3px;
    color: #070c0e;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.btn-today {
    left: 120px;
}

.btn-mes {
    left: 1126px;
}

.btn-semana {
    left: 1168px;
    width: 75px;
}

.btn-dia {
    left: 1245px;
}

.btn-lista {
    left: 1287px;
    width: 50px;
}

.btn-ant,
.btn-pro {
    position: absolute;
    top: 65%;
    height: 32px;
    width: 40px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid #a2adaf;
    border-radius: 3px;
    color: #070c0e;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.btn-ant {
    left: 20px;
}

.btn-pro {
    right: 1255px;
}

.btn-ant:hover,
.btn-pro:hover {
    background: #cbd1d2;
    color: #f9f9f9;
}

.calendar-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
}

.calendar-container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

#sales {
    padding: 2px 10px;
}

.calendar-sales-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-spacing: 0;
}

.calendar-sales-table thead td {
    background: white;
    font-weight: 600;
    height: 25px;
    width: 25px;
}

.calendar-sales-table td {
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}

.calendar-sales-table tbody td {
    cursor: pointer;
}

.calendar-sales-table tbody td:hover {
    background: rgb(0, 173, 223, 0.8);
    color: #f9f9f9;
}

.calendar-sales-table table .dia-atual {
    background: #00addf;
    color: #f9f9f9;
}

.calendar-sales-table .mes-anterior,
.calendar-sales-table .proximo-mes {
    color: #cbd1d2;
}

.calendar-sales-table .mes-anterior:hover,
.calendar-sales-table .proximo-mes:hover {
    background: #98a0a0;
}

.event {
    position: relative;
}

.event:after {
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}

.event:hover::after {
    background: #f9f9f9;
}

.event.dia-atual:after {
    background: #f9f9f9;
}